<div class="wrapper">
<div class="ui segment" id="main_segment">

<h2 class="ui dividing header"><i class="user icon"></i>共同發起團體</h2>


<div class="ui divided list">
  <div class="item" ng-repeat="g in groups">
    <img class="ui avatar image" src="/images/{{g.name}}.jpg">
    <div class="content">
      <div class="header">{{g.name}}</div>
    </div>
    <ul>
      <li ng-show="g.contact_person">聯絡人：{{g.contact_person}}</li>
      <li ng-show="g.contact_email">email：{{g.contact_email}}</li>
      <li ng-show="g.phone">電話：{{g.phone}}</li>
      <li>網站：<a href="{{g.website}}" target="_blank">{{g.website}}</a></li>
    </ul>
  </div><!-- end of item -->
  
</div>


<h2 class="ui dividing header"><i class="comment outline icon"></i>聯絡我們</h2>
       <p>加入共同發起團體、聯絡我們，請來信：info [at] watchout.tw</p> 
       <p>網站錯誤回報：dev [at] watchout.tw</p> 

<h2 class="ui dividing header"><i class="info letter icon"></i>關於</h2>
   <p>本站由<a class="link" href="//watchout.tw" target="_blank"> 沃草 Watchout </a>製作，以<a class="link" href="//watchout.mit-license.org/MIT" target="_blank"> MIT </a>方式授權。</p>
</div>
</div>
