<div class="ui segment" id="main_segment">
 <center>
<div class="about_title">
 <h3>「你們敢做，我們敢看！」無限期支持立法院 IVOD 全程轉播</h3>
</div>
</center>

 
 <p>立法院斥資數千萬建立 IVOD 轉播系統、相關錄音錄影設備。不過你知道，在許多重要時刻，我們都 <a class="ui circular red label">看不到</a> 轉播畫面嗎？</p>
 
 <p>立法院 IVOD 實況轉播系統每年花上千萬維護，旨在提供全民監督立委的管道、增加立院開放透明度。</p>

 <p>但是，每逢委員打架拉頭髮、佔領主席台、在廁所旁用半分鐘宣布法條過關、法條太多要討論、趕場節省時間、以及各種不明理由等，IVOD 的螢幕經常會全黑一片、停止錄音錄影或是進入模仿 windows 當機的藍畫面。讓民眾不勝其擾，想好好觀看立法院的興致全失，爆米花也白買了。</p>

 <p>像是4月16日，內政委員會召開「都市更新條例草案」審查時，由於委員逐個上台發言非常耗時，在「經主席徵詢、眾委員同意」後，所有委員都移駕進入「圍圈討論」。此時 IVOD 螢幕上只剩下「逐條討論」字樣，雖然仍有聲音傳出、但是誰在講話根本無從得知，立院轉播不應該是廣播劇。</p>

<p>為此，我們要求：無論是打架拉頭髮、佔領主席台還是協商討論與磋商，要求立法院 IVOD 系統全程轉播，不得因為任何理由中途藍幕、黑幕與停止錄音。</p>


<h2 class="ui dividing header"><i class="dollar icon"></i>系統花費</h2>
<p>
101年度，編列 <a class="ui circular red label">4,056萬元</a>，「汰購各會議室數位錄音錄影等設備」<br/>
102年度，編列 <a class="ui circular red label">3,870萬元</a>，「汰購各會議室數位錄音錄影等設備」<br/>
光是這兩個年度，立法院花費在更新「會議室」數位錄音錄影的經費，高達<a class="ui circular red label">7,926萬元</a>。<br/>
</p>

<h2 class="ui dividing header"><i class="facetime video icon"></i>轉播狀況</h2>
<p>
從 IVOD 截圖可以知道，<br/>
立法院目前攝影設備，可以轉向、縮放，<br/>
並拍攝委員會現場的整個會議桌。<br/>
</p>

<p>
但在預算審查（處理）、法案逐條討論時，<br/>
我們卻還是只能看到藍藍的畫面，寫著「預算審查」、「協商」，<br/>
學習聽聲辨人，而看不到開會的畫面。
</p>

<p>
舉例來說，交通委員會會議室的 IVOD 攝影機可轉播範圍如下：
</p>

<img src="images/fig1.jpg" class="about_img">
<p>
舉例來說，但是去年在審查預算時，民眾看到的轉播畫面卻是：
</p>
<img src="images/fig2.jpg" class="about_img">

<p>
又例如，4月28日，內政委員會會議討論和民眾切身相關的「都市更新條例修正草案」，IVOD 轉播的畫面是藍畫面一鏡到底：
</p>
<img src="images/fig3.jpg" class="about_img_small">

<p>
而實際上，委員們可是很認真的在討論「都市更新條例」該怎麼修：
</p>
<img src="images/fig4.jpg" class="about_img_small">

<h2 class="ui dividing header"><i class="list layout icon"></i>我們的訴求</h2>
<p>我們認為：立院轉播不應該是廣播劇！無論是打架拉頭髮、佔領主席台還是協商討論與磋商，要求立法院 IVOD 系統全程轉播，不得因為任何理由中途藍幕、黑幕與停止錄音。</p>

<h2 class="ui dividing header"><i class="bullhorn icon"></i>一起採取行動</h2>
<p>如果你也認為，民意代表既然代表民意，在立法院審查法案、預算的時候，就應該<a class="ui circular teal label">公開透明，讓全民能夠檢視，也代表對人民負責</a>。</p>
<p>那麼，請你一起採取行動：<a class="ui circular red label" href="#">打電話給你選區的立委，表達你的意見</a>。</p>


<h2 class="ui dividing header"><i class="user icon"></i>共同發起團體</h2>
<p>
<div class="ui horizontal bulleted list">
  <div class="item" ng-repeat="g in groups" >
    <a href="{{g.website}}" target="_blank">{{g.name}}</a>
  </div>
</div>
</p>

<div class="join_us" ng-click="contact()">
  加入共同發起團體
</div>

</div>

<div class="footer">
<div class="tiny ui button" ng-click="contact()">
  聯絡我們
</div>
<div class="tiny ui button" ng-click="goback()">
  回到頁首
</div>
</div>
</center>


<!-- alert box -->
<div id="alert_box">
  <div class="ui small segment" id="alert_text">
    <div class="ui form segment" id="info_form_segment">
       <i class="cancel circle basic icon" ng-click="hide()" id="cancel_button"></i>
       <p>加入共同發起團體：abc@info.com</p> 
       <p>聯絡：abc@info.com</p> 
       <p>錯誤回報：abc@info.com</p>   
    </div>
  </div>
</div>
<!-- end of alert box -->