<div class="about_section">
  
<div class="about_story"><i class="quote left icon"></i>剛嫁給他的時候是十幾年前<br/>那時傻傻的<br/>想說順其自然，久了才認識到原來消防隊這麼累<br/><br/>台北市那時勤二休一（做48小時休24小時）<br/>上兩天的班<br/>第三天回來像死人一樣<br/>通常休的那天都在補眠<br/>沒有時間跟小孩子和老婆談感情<br/><br/>十幾年了<br/>老公一直沒什麼時間陪我<br/>連我生產的時候<br/>老公都在幫外面的產婦接生卻無法陪我<br/>自己小孩生病發高燒，他卻一點辦法也沒有。<i class="quote right icon"></i><br/></div>

<div class="about_license">
  <img src="images/CC-BY.png" width="10px">
<a href="https://www.flickr.com/photos/69214385@N04/8669592973" target="_blank">Don McCullough</a>
</div>
</div>

<div class="wrapper">

<h2 class="ui dividing header"><i class="ambulance icon"></i>99119 搶救消防員：連署要求改善消防員工作權益</h2>

<p>以上是台北市某位消防員眷屬的真實心聲，她所抱怨的「我老公救人不救我」說的在承平時期超長工時長期對消防員家庭的傷害。然而，消防員與眷屬的苦痛豈止是無法在平日照顧至親而已。一旦災難來臨，消防體制弊病瞬間暴露出來，而卻是要基層消防員拿生命承擔它的代價。消防人力不足、保命裝備的匱乏，再加上平常該訓練的時間都拿去從事救貓狗撿鑰匙等雜務，在災難來時被迫進入危險前線的結果是，連自己也救不了，終究難逃受傷與犧牲的命運。另一位消防員眷屬在得知老公在高雄氣爆後喪生時，難過表示：「當消防員的老婆我早已心裡有準備。」</p>

<p>這樣的心理準備多麼令人不捨。如果整個消防體制能給消防員多一點保障，那麼是否可以止住眷屬心痛的眼淚？我們是一群由基層消防員組織的團體，我們不斷擔負起揭發消防體制弊病的吹哨人角色。然而，勇敢吹哨的代價是我們遭到公部門無情打壓，在高雄市消防員徐國堯3個月內被記42支申誡慘遭逼退。身為消防員，我們別無選擇，不發聲，沒人關注，我們終究難逃殉職風險；發聲，要擔負被打壓清算的危險，但是我們還是得勇敢賭一個改變我們工作環境的可能。</p>

<p>如果您願意在我們犧牲時，給一句辛苦了、R.I.P；如果您也不願意我們被超長工時、超多勤業務操壞身體，以致無法更好地搶救您；如果您也看不下去當我們爭取權益卻被無情打壓…….消防員工作權益促進會在此誠摯地邀請您一同關心消防員的勞動權益。</p>


<h2 class="ui dividing header"><i class="list layout icon"></i>我們的訴求</h2>

<ol>
  <li>立法改善消防員不合理工時與勤務內容 。</li>
  <li>要求消防署提出具體補充消防人力的計劃，並編列預算改善基層消防員的裝配備。</li>
  <li>立法促使懲處機制透明化，禁止以「內部條款」剝奪基層消防員言論、集會與結社等自由的基本人權。</li>
  <li>立法開放消防員籌組工會。</li>
</ol>


<h2 class="ui dividing header"><i class="user icon"></i>共同發起團體</h2>
<p>
<div class="ui horizontal bulleted list">
  <div class="item" ng-repeat="g in groups" >
    <a href="{{g.website}}" target="_blank">{{g.name}}</a>
  </div>
  <div class="item join_us" ng-click="go('contact')">
    加入共同發起團體
  </div>
</div>
</p>



</div><!-- end of wrapper -->

<br/><br/>
<!--
<div class="join_button_area join_button_area_top nav_fixed" id="bottom_join">
     <i class="bullhorn icon"></i>一起採取行動！
</div>
-->

<div class="wrapper">

<h2 class="ui dividing header"><i class="bullhorn icon"></i>一起採取行動！</h2>

<div id="petition_component"></div>
<script type='text/javascript' src='petition.js'></script>
</div>


<!-- alert box -->
<div id="alert_box" ng-click="hideBox()">
  <div class="ui small segment" id="alert_text" ng-click="$event.stopPropagation()">
    <div class="ui form segment">
       <i class="cancel circle basic icon" ng-click="hideBox()" id="cancel_button"></i>
       
       <div class="alert_title">加入連署</div>
       <div class="field">
          <label>顯示名稱</label>
          <div class="ui left labeled icon input">
              <input type="text" placeholder="顯示在頁面上的名稱" ng-model="user.name">
              <i class="user icon"></i>
          </div>
       </div>
       <div class="field">
          <label>電子郵件</label>
          <div class="ui left labeled icon input">
              <input type="text" placeholder="請放心！僅作為聯繫使用，不會顯示在頁面上" ng-model="user.email">
              <i class="mail icon"></i>
          </div>
       </div>
       <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="show" checked>
            <label>顯示我的連署資訊</label>
          </div>
       </div>
       <center>
          <div class="ui tiny button" ng-click="hideBox()">取消</div>
          <div class="ui tiny teal button" ng-click="submit()">送出</div>
       </center>

    </div>
  </div>
</div>
<!-- end of alert box -->