

  <div class="leg_collection" ng-show="mode=='blue'">

  <div class="leg_item" 
       ng-repeat="n in legislators | filter:query"
       ng-click="legClick(n.id)"
       ng-show="n.name"
       >
    
     <div class="name" ng-show="n.position=='for'">{{n.name}}</div>
      <img ng-src="https://raw.githubusercontent.com/soidid/LegiPhotos/master/8th/{{n.name}}.png" 
           class="leg_img" ng-show="n.position=='for'">

     <div class="blue_ivod" ng-show="n.position=='against'">
          <div class="blue_ivod_text">
          {{n.name}}<br/>
          藍畫面
          </div>
     </div>
     
     <div ng-class="{'KMT_item':n.party=='中國國民黨','DPP_item':n.party=='民主進步黨',
                  'PFP_item':n.party=='親民黨','TSU_item':n.party=='台灣團結聯盟',
                  'NP_item':n.party=='無','NPU_item':n.party=='無黨團結聯盟'}">{{n.party}}</div>
  </div>
  </div><!--end of leg collection-->
