<div class="wrapper">
<div class="ui segment" id="main_segment">

<h2 class="ui dividing header"><i class="pencil icon"></i>立場統計方式</h2>
<p>發起團體於 2014 年 8 月 11 日，以傳真及電話方式聯絡各立委辦公室。最近更新時間：2014 年 8 月 11 日。
</p>
<p>同意訴求者，顯示為 <span class="circular_label circular_label_green">支持</span> 委員會透明化；尚未表態是否支持者，顯示為<span class="circular_label circular_label_gray">尚未表態是否支持</span>；反對者，顯示為<span class="circular_label circular_label_red">反對</span>改善消防員工作權益。</p>

<!--
<h2 class="ui dividing header"><i class="file outline icon"></i>承諾書</h2>
<p>
</p>
-->
</div><!-- end of segment -->


</div>
