<div class="ui segment" id="content_segment">
  <div class="f-fix" id="nav_segment" ng-show="mode!='party'">
       <div ng-include="'partials/leg_top.html'"></div> 
  </div>
<!-- -->

<div id="main_content" class="main_content_margin">

<div ng-include="'partials/blue.html'"></div>
<div ng-include="'partials/figure.html'"></div>
<div ng-include="'partials/list.html'"></div>
<div ng-include="'partials/position.html'"></div>  
<div ng-include="'partials/party.html'"></div> 
   
<div class="nav">
搜尋：
  <div class="ui input" id="query_input">
    <input type="text" placeholder="打字搜尋立委，例如：內湖、台北市" ng-model="query">
  </div>
  <div class="mini ui button" ng-click="toggleMode('blue')">
    藍畫面
  </div>
  <div class="mini ui button" ng-click="toggleMode('figure')">
    圖像
  </div>
  <div class="mini ui button" ng-click="toggleMode('list')">
    列表
  </div>
   <div class="mini ui button" ng-click="toggleMode('position')">
    立場
  </div>
   <div class="mini ui button" ng-click="toggleMode('party')">
    政黨
  </div>
  <div class="mini ui black button" ng-click="goback()">
    回到頁首
  </div>
  
</div>
</div><!-- end of main-->


</div><!-- end of main content

  

