

<div class="ui segment" id="content_segment">
  <div class="f-fix" id="nav_segment">
       <div ng-include="'partials/leg_top.html'"></div> 
  </div>
<!-- -->

<div id="main_content" class="main_content_margin">

<div ng-include="'partials/position.html'"></div> 
 
<div class="nav nav_fixed" id="bottom_search">
搜尋：
  <div class="ui input" id="query_input">
    <input type="text" placeholder="打字搜尋立委，例如：內湖、台北市" ng-model="query">
  </div>
  
 
</div>
</div>


</div><!-- end of main content

  

