<div class="avatar_item" ng-show="data.name">

  <img class="avatar_image" ng-src="https://raw.githubusercontent.com/soidid/LegiPhotos/master/8th/avatar/{{data.name}}.png" 
  ng-class="{'KMT_image':data.party=='中國國民黨','DPP_image':data.party=='民主進步黨',
             'PFP_image':data.party=='親民黨','TSU_image':data.party=='台灣團結聯盟',
             'NP_image':data.party=='無黨籍','NPU_image':data.party=='無黨團結聯盟'}">

</div>

  <span class="talk_state" ng-show="data.position=='for'">
    您好，我是{{data.name}}，是{{data.party}}，{{data.eleDistrict}}的立法委員。
    我支持委員會透明化，IVOD 轉播不可以有藍畫面。我已經率先承諾支持推動此項國會改革，讓選民能夠檢視我在立         法院的一言一行，並對選民負責。
  </span>
  <span class="talk_state" ng-show="data.position=='against'">
    您好，我是{{data.name}}，是{{data.party}}，{{data.eleDistrict}}的立法委員。
    我反對立法院 IVOD 轉播系統公開透明，所以有時候，你其實看不到我開會的畫面、和發言喔！不過我想選民們應該 都很相信我的專業，即使部分黑箱也不會在意的。:)

    <span ng-show="data.district!='全國不分區'">
      特別是我選區：{{data.district}} {{data.districtDetail}}的選民們，你們最支持不透明的國會了，對吧！>_^
    </span>
    <span ng-show="data.district=='全國不分區'">
      我是{{data.party}}{{data.district}}的立委，你對{{data.party}}政黨票的支持，就是對我的支持喔！
    </span>

