<div class = "">
<table class="ui table" ng-show="mode=='party'">
  <thead>
    <tr><th></th>
    <th><span class="th_right">支持</sapn></th>
    <th>反對</th>
  </tr></thead>
  <tbody>
    <tr ng-repeat="p in parties" ng-show="p !='全部'">
      <td>{{p}}</td>
      <td ng-repeat="c in categories" ng-class="{'tiniy_collection_for':c=='for'}">
        <div class="tiny_num">{{(legislators| filter:query | filter:{'position':c,'party':p}).length}}</div>
      
        <div class="tiny_collection">
        <div class="tiny_item"
        ng-repeat="n in legislators | filter:query | filter:{'position':c,'party':p} | orderBy:'party'"
        ng-click="legClick(n.id)"
        ng-show="n.name"
        ng-class="{'KMT_color_brick':n.party=='中國國民黨','DPP_color_brick':n.party=='民主進步黨',
                  'PFP_color_brick':n.party=='親民黨','TSU_color_brick':n.party=='台灣團結聯盟',
                  'NP_color_brick':n.party=='無黨籍','NPU_color_brick':n.party=='無黨團結聯盟'}"
       ></div>
       </div>
      </td>
     

    
    </tr>

  </tbody>
</table>
