<div class="ui two column divided grid" ng-show="mode=='position'">
<!-- 
<div class="mini ui button"
     ng-repeat="p in parties" 
     ng-click="chooseParty(p)">{{p}}
</div>
-->
<center>
<div class="ui small menu">
  <a class="item" 
  ng-class="{'active':party_text==p}"
  ng-repeat="p in parties" ng-click="chooseParty(p)">{{p}}</a>

</div>
</center>
<!--
<div class="progress">
                  <div class="bar"
                  style="width:
{{(legislators| filter:query | filter:{'state':'for','party':party}).length/(legislators | filter:query | filter:{'party':party}).length * 100}}%;"></div>
              </div>
-->
  <div class="row">

    <div class="column" ng-repeat="c in categories">
      <div class="title_for" ng-show="c=='for'">支持
       {{(legislators | filter:query | filter:{'position':c,'party':party}).length}}</div>
      <div class="title_against" ng-show="c=='against'">反對
       {{(legislators | filter:query | filter:{'position':c,'party':party}).length}}
      </div>
    
    <div class="avatar_collection" ng-class="{'avatar_collection_for':c=='for'}">

  <div class="avatar_item"
       ng-repeat="n in legislators | filter:query | filter:{'position':c,'party':party} | orderBy:'party'"
       ng-click="legClick(n.id)"
       ng-show="n.name"
       >

     <img class="avatar_image" ng-src="https://raw.githubusercontent.com/soidid/LegiPhotos/master/8th/avatar/{{n.name}}.png" 
     ng-class="{'KMT_image':n.party=='中國國民黨','DPP_image':n.party=='民主進步黨',
                  'PFP_image':n.party=='親民黨','TSU_image':n.party=='台灣團結聯盟',
                  'NP_image':n.party=='無黨籍','NPU_image':n.party=='無黨團結聯盟'}">

     
  </div>
  </div><!--end of collection-->
    </div>
  </div>
</div> 

 
