/*******************************
            Global
*******************************/

html,
body {
  font-size: 15px;
  
  font-family: "Helvetica Neue",Helvetica,Arial,"Heiti TC","Apple LiGothic Medium","微軟正黑體",sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

/*******************************
          UI Overrides
*******************************/

.ui.header {
  font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.ui.header,
h1,
h2 {
  font-weight: normal !important;
}

h1.ui.header {
  font-size: 3em;
}

h4.ui.header,
h5.ui.header,
.ui.icon.header {
  font-weight: bold !important;
}

.ui.button {
  font-weight: normal;
  text-decoration: none;
}

a {
  color: #009FDA;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a:hover {
  color: #00BAFF;
}

p a {
  font-weight: bold;
}

p, li {
  line-height: 20px;
}
/*******************************
            Global
*******************************/

.menu .right.menu > .mobile.item {
  display: none;
}

.ui.page.grid.segment {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.masthead.segment {
  background-image: url(images/bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0em;
  padding-top: 4rem;
  overflow: hidden;
  -webkit-box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
  box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
}

.masthead.segment .column {
  position: relative;
}

.masthead.segment .information {
  margin: 3em 1em 1em 280px;
}

.masthead.segment .information p {
  max-width: 600px;
  margin: 0em 0px 2em 0em;
  font-size: 1.2em;
}

.masthead.segment h1.ui.header .sub {
  font-size: 0.7em;
}

.masthead.segment .image {
  position: absolute;
  left: 0%;
  bottom: -110px;
}

.overview .divided.grid .header + p {
  min-height: 100px;
}

.ui.shape .icon,
.link.list .icon {
  margin: 0em;
  padding: 0em;
}

.ui.cube.shape .side {
  background-color: transparent;
}

/*******************************
          Responsive
*******************************/

/* Mobile Only */

@media only screen and (max-width : 768px) {
  .ui.page.grid.segment {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .menu .right.menu > .item {
    display: none;
  }

  .menu .right.menu > .mobile.item {
    display: block;
  }

  h1.ui.header {
    font-size: 1.5em;
  }

  .masthead.segment {
    -webkit-background-size: auto;
    background-size: auto;
  }

  .masthead.segment .information {
    margin-left: 190px;
  }

  .masthead.segment .image {
    bottom: -65px;
    width: 150px;
  }

  .masthead.segment .button {
    font-size: 1rem;
  }

  .overview .divided.grid .header .icon {
    font-size: 1.5em;
  }

  .overview .divided.grid .header + p {
    min-height: 0px;
  }

  .masthead.segment .column {
    font-size: 0.7rem;
  }

  .masthead.segment .column p {
    display: none;
  }

  .selection.list .right.floated {
    display: none;
  }
}

@media only screen and (max-width : 1000px) {

}

/*******************************
          Custom
*******************************/
#content_segment{
  margin: 5px;
  margin-top: 40px;
}
.leg_collection{
  text-align: center;

}

.leg_item{
  cursor: pointer;
  display: inline-block;
  width:80px;
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
  margin-left: 2px;
  margin-left: 2px;
  color:white;
  position: relative;
}

.KMT_item{
  background: #3288bd;
}
.DPP_item{
  background: #7fbc41;
}
.PFP_item{
  background: orange;
}
.TSU_item{
  background: #b35806;
}
.NP_item{
  background: gray;
}
.NPU_item{
  background: rgba(194,15,81,0.9);
}
.blue_ivod{
  width:80px;
  height: 105px;
  background: blue;
}
.blue_ivod:hover{
   background: rgba(0,0,200,0.8);
}
.blue_ivod_text{
  display: block;
  padding-top:20px;
  text-align: center;
  color: yellow;
}
.leg_img{
  width:80px;
  
  border-width: 0px 0px 6px 0px;
  border-style: solid;
}
.modal {
    /*display:    none;*/
    position:   fixed;
    z-index:    200;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                50% 50%
                no-repeat;
}
#alert_box{
  display: none;
  position:   fixed;
    z-index:    200;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 0, 0, 0, .8 )
                50% 50%
                no-repeat;
}
#alert_text{
  width: 400px;
  height: 315px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.alert_title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;


}
#info_form_segment{
  height: 175px;
}
#cancel_button{

  position: absolute;
  top:10px;
  left:92%;
  cursor: pointer;
}
#query_input{
  width:500px;
}

#nav_segment{
  z-index: 100;
  padding: 5px;
  min-height: 60px;

  background: white;
  border-bottom: 1px solid rgb(220,220,220);
  padding-bottom: 10px;

}
.f-nav{  /* To fix main menu container */
  position: fixed;
  top:40px;
  padding-top: 5px;
  left:4px;
  width:98%;
}
.f-fix{
  top:10px;
  left:0px;
  width:99%;

}
.nav_fixed{
  position: fixed;
  z-index: 200;
}
.nav{
  bottom: 0px;
  background: rgba(255,255,255,0.9);
  padding: 4px;
  width: 100%;
  padding-top: 10px;
 
}
.talk_state{
  line-height: 24px;
  padding-bottom: 10px;
}
.talk_state_legi{
  line-height: 24px;
  padding-bottom: 10px;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}
#main_content{
  margin-bottom: 50px;
}
/* ------- */

.table_item{
  cursor: pointer;
}
.table_districtDetail{
  width:180px;
  display: inline-block;
  margin:0;

}
.avatar_collection_for{
  text-align: right;
}
.avatar_item{
  cursor: pointer;
  width:50px;
  display: inline-block;
  margin: 2px;
  background: white;
  vertical-align: top;
  padding:3px;
  border: 1px solid white;
}
.avatar_item_active {
  background: rgb(230,230,230);
  border: 1px solid rgb(130,130,130);
}
.avatar_item_top{
  cursor: pointer;
  width:50px;
  display: inline-block;
  margin-top: 3px;
  margin-right: 10px;
  margin-bottom: 3px;
  float:left;

}
.avatar_image{
  width:48px;
  height: 50px;
  border: 10px;
  border-radius: 10px;
  background: white;
  border-width: 1px 1px 4px 1px;
  border-style: solid;
}
.avatar_name {
  font-size: 10px;
  text-align: center;

}
.KMT_image{
  border-color: #3288bd;
}
.DPP_image{
  border-color: #7fbc41;
}
.PFP_image{
  border-color: orange;
}
.TSU_image{
  border-color: #b35806;
}
.NP_image{
  border-color: gray;
}
.NPU_image{
  border-color:rgba(194,15,81,0.9);
}

.progress {
    width: 900px;
    height: 15px;
    background: rgb(211,89,89);/* red */
    display: inline-block;

}
.bar {
    background:#7fbf7b;/* green *//* #00B25C; */
    height: 15px;
    color: white;
}
.title_for{
  color:#7fbf7b;
  font-size:20px;
  text-align: right;
}
.title_pending {
  color:#666;
  font-size:20px;
  text-align: center;

}
.title_against{
  color:rgb(211,89,89);
  font-size:20px;
}
.label_for{
  color:#7fbf7b;
  font-size:20px;
  display: inline-block;
}
.label_against{
  color:rgb(211,89,89);
  font-size:20px;
  display: inline-block;
}
.tiny_item{
  display: inline-block;
  width:10px;
  height: 10px;
  
}

.KMT_color_brick{
  background: #3288bd;
}
.DPP_color_brick{
  background: #7fbc41;
}
.PFP_color_brick{
  background: orange;
}
.TSU_color_brick{
  background: #b35806;
}
.NP_color_brick{
  background: gray;
}
.NPU_color_brick{
  background: rgba(194,15,81,0.9);
}
.tiny_collection{
  min-height: 20px;
}
.tiniy_collection_for{
  text-align: right;
}
.th_right{
  float: right;
}
#main_segment{
  margin: 10px;
  margin-top: 65px;
  min-height: 450px;
}
.about_section {
  /* https://www.flickr.com/photos/69214385@N04/8669592973 */
  background: url(../images/about-bg.jpg) 50% 0 repeat fixed; min-height: 400px;
  margin-top: 40px;
  padding: 20px;
  margin-bottom: 40px;
  position: relative;
}
.about_story {
  padding:20px;
  max-width: 450px;
  margin: 10px auto;
  line-height: 20px;
  background: rgba(255,255,255,0.6);
  
  /*
  -webkit-box-shadow: #777 0px 1px 2px;
  -moz-box-shadow: #777 0px 1px 2px;
  box-shadow: #777 0px 1px 2px;
  */

}
.about_img{
  width:100%;
  display: block;
}
.about_img_small{
  width:200px;
  border-radius: 4px;
}
.join_us{
  cursor: pointer;
  border-bottom: 1px dotted gray;
  padding-bottom: 2px;
  display: inline;
}
.join_us:hover{
  border-bottom: 1px dotted rgb(0,159,218);
  color: rgb(0,159,218);
}
.footer{
  background: rgb(50,53,48);
  height: 80px;
  color: rgb(200,200,200);
  padding-top: 20px;
  padding-left: 30px;
  font-size: 10px;
}
.footer .item{
  cursor: pointer;
}
/* ------------------------------------------------------------ */
/* Responsive Setup */
/* ------------------------------------------------------------ */
@media screen and (min-width: 1000px){
  .wrapper{
     width: 1000px;
  }
}
@media (max-width: 400px){
  .wrapper{
     width: 100%;
  }
}
.wrapper{
  margin-left: auto;
  margin-right: auto;
  
}
.list_page {
  padding:10px;
}
.signer_header {
  border-top: 4px solid rgba(128, 128, 128, 0.34);
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}
.signer_title {
  display: inline-block;
  position: relative;
  top: -16px;
  font-size: 24px;
  background: white;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 700;
}
.signer_title b{
  color:rgb(214,90,90);

}
.signer_item {
  width:140px;
  display: inline-block;
  padding-left: 20px;
}
.signer_item_left {
  display: inline-block;
  margin-top: 15px;
  vertical-align: top;

}
.signer_image{
  width:40px;
  height: 40px;
  border: 1px solid rgb(230,230,230);
}
.signer_name {
  vertical-align: top;
  display: inline-block;
  margin-top: 15px;
}

.join_button_area_top {
  border-top: 1px solid rgb(200,200,200);
  background: gray;
  color:white;
}
.join_button_area {
  padding: 10px;
  bottom: 0px;
  width: 100%;
  padding-top: 10px;
  text-align: center;

}
#join_btn {
  margin: 0 auto;
}
.circular_label{
  padding:2px;
  padding-left:5px;
  padding-right: 5px;
  border-radius: 10px;
  margin-left: 3px;
  margin-right: 3px;
}
.circular_label_green{
  background:rgb(161,207,100);
  color: white;
}
.circular_label_red{
  background:rgb(217,92,92);
  color: white;
}
.circular_label_gray{
  background:rgb(232,232,232);
}
.legi_page {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 40px;
  min-height: 500px;
  padding-top:20px;
  margin-bottom: 100px;
}
/* ----- FOR REACT COMPONENT------ */
.petition-list {
  border-top: 6px solid rgb(200,200,200);
  text-align: center;
  
}
.issue-petitioners {
  text-align: center;
  font-size: 24px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;
  top: -16px;
  display: inline-block;
  background: white;

}
.petitioners {
  text-align: left;
}
.petitioner {
  width:180px;
  display: inline-block;
  padding-left: 20px;
}
.petitioner > img{
  width:40px;
  height: 40px;
  border: 1px solid rgb(230,230,230);
}
.petitioner > .name {
  vertical-align: top;
  display: inline-block;
  margin-top: 13px;
  margin-left: 5px;
  cursor: pointer;

}
.petitioner > .name:hover {
  color:rgb(0,159,218);

}
.petition-list .more {
  display: inline-block;
  margin-top: 15px;
  vertical-align: top;
  margin-left: 6px;
}
/* ------------------------------- */
#petition_component {
  margin-bottom: 100px;
}
#petition_component .done{
  display: inline-block;
  margin-left: 20px;
}
#petition_component form{
  border: 1px solid rgb(230,230,230);
  margin-bottom: 30px;
  padding-top: 10px;
  padding-left:10px;
  position: relative;

}
#petition_component button{
  margin-bottom: 10px;
  padding: 5px;
  width: 100px;
  font-size: 14px;
  background: rgb(76,102,164);
  border-width: 0px;
  color: white;
  cursor: pointer;
  border-radius: 5px;

}
{/* 我已連署過 */

  display: inline-block;
  margin-left:10px;

}
#petition_component button:hover{
  background: rgba(76,102,164,0.9);
  
}
#petition_component .field{
  display: inline-block;
  margin-right: 5px;
}
#petition_component input[type="text"], #petition_component input[type="email"]{
  border: 1px solid rgb(230,230,230);
  padding: 5px;
  margin-left: 8px;
  min-width: 250px;
}
#petition_component form button{
  display: block;
  margin: 10px auto;
  padding: 5px;
  width: 100px;
  font-size: 14px;
  background: rgb(214,90,90);
  border-width: 0px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
#petition_component form button:hover{
  background: rgba(214,90,90,0.9);
  
}
#top_nav_menu {
  position: fixed;
  top:0px;
  width: 100%;
  border-radius: 0px;
  z-index: 300;
}
.footer_logo {
  cursor: pointer;
  margin-top: 10px;
  width: 100px;
  margin-top: 5px;
  margin-right: 20px;
}
.about_license {
  position: absolute;
  bottom: 3px;
  right:5px;
}
.about_license a, .about_license a:visited {
  color:rgb(250,250,250);
  cursor: pointer;
}
.about_license a:hover{
  color:rgb(255,255,255);

}





