<!DOCTYPE html>
<html ng-app="ivodApp">
  <head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properities -->
    <title>立委表態 | IVOD</title>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="packaged/css/semantic.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-route.js"></script>
    
    <script src="packaged/javascript/semantic.js"></script>
    <script src="packaged/javascript/semantic.min.js"></script>

    <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
    <script type='text/javascript'src='https://cdn.firebase.com/v0/firebase-simple-login.js'></script>

    <script type='text/javascript' src="js/app.js"></script>
    <script type='text/javascript' src="js/controllers.js"></script>
    <script src="js/services.js"></script>

    <!-- Sort Tables -->
    <script src="js/jquery.tablesort.js"></script>

</head>
<body>


<div class="ui inverted menu" ng-controller="navCtrl">

  <a class="item" href="index.html#/" ng-class="{'active':nav_cat=='index'}" ng-click="toggleNav('index')">
    立委表態 | IVOD
  </a>
  <a class="item" href="index.html#/about" ng-class="{'active':nav_cat=='about'}" ng-click="toggleNav('about')">
    議題說明
  </a>
  <a class="item" href="index.html#/data" ng-class="{'active':nav_cat=='data'}" ng-click="toggleNav('data')">
    立場統計方式
  </a>
  <a class="item" href="index.html#/contact" ng-class="{'active':nav_cat=='contact'}" ng-click="toggleNav('contact')">
    聯絡
  </a>
 
   <div class="right menu">
        <div class="item">
          <a href="http://to.13pa.tw/" target="_blank">我想罷免</a>
        </div>
   </div>
</div>

    <div ng-view></div>
</body>
</html>
